.header {
  text-align: center;
  padding-top: 15px;
}

#navbar {
  font-family: "Times New Roman", Times, serif;
  padding-top: 10px;
  border-radius: 5px;
  opacity: 0.8;
}

.nav-link {
  color: black;
}

li.nav-item a:hover {
  color: red;
  text-shadow: 1px 1px 1px black;
}

.return a {
  color: red;
}

.return a:hover {
  color: maroon;
  text-shadow: 1px 1px 1px black;
}

.center {
  text-align: center;
}

.text {
  font-family: "Times New Roman", Times, serif;
  text-align: center;
}

.social-media {
  color: red;
}

.twitter {
  color: grey;
}

.twitter a:hover {
  color: red;
  text-shadow: 1px 1px 1px black;
}

.instagram {
  color: grey;
}

.instagram a:hover {
  color: red;
  text-shadow: 1px 1px 1px black;
}
