#introvert_logo {
  display: inline-block;
  margin-left: 23.5%;
}

#body_img {
  display: inline-block;
  margin: auto auto auto auto;
  width: 55%;
}

#navbar {
  font-family: "Times New Roman", Times, serif;
  border-radius: 5px;
  opacity: 0.8;
}

.nav-link {
  color: black;
}

li.nav-item a:hover {
  color: red;
  text-shadow: 1px 1px 1px black;
}

.center {
  margin-left: 22%;
  margin-right: auto;
  width: 100%;
  padding: 10px;
}
