#introvert_logo {
  display: block;
  margin-top: 15px;
  margin-left: auto;
  margin-right: auto;
}

#navbar {
  font-family: "Times New Roman", Times, serif;
  border-radius: 5px;
  opacity: 0.8;
}

#containerimg {
	margin: 20px auto;
	max-width: 600px;
}
